<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>EMR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  
  <body ng-controller="AppCtrl">
    <div class="container-fluid">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand">EMR</a>
          <ul class="nav">
            <li ng-class=""><a ng-href="/info">Info</a></li>
            <li ng-class=""><a ng-href="/info2">Info(2)</a></li>
            <li ng-class=""><a ng-href="/sites">Sites</a></li>            
          </ul>
          
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li ng-show="isAuthenticated()" class='signup' ng-controller='AppCtrl'>
              <a href="#">{{currentUser.email}} </a>
            </li>
    
            <li ng-show="isAuthenticated()" class="logout" ng-controller='LoginCtrl'>        
              <a ng-click="logout()">Sign Out</a>
            </li>
    
            <li ng-hide="isAuthenticated()" class="login">
              <a ng-href="/login">SignIn</a>         
            </li>
            
            <li  ng-hide="isAuthenticated()"><a ng-href="/signup">SignUp</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <ng-view></ng-view>
    </div>
  </body>
  
</html>
